@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: none;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a, a:visited {
    color: var(--text-main);
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-main);
    color: var(--text-main);
    font-family: 'Noto Sans JP', 'Arial', sans-serif;
}

.icon {
    font-size: 1em;
}

main {
    margin: 0 20%;
}

main section {
    margin-top: 15px;
}

main section article {
    padding: 7.5px 0;
}

@media only screen and (max-width: 1000px) {
    main {
        margin: 0 25px;
    }
}