@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

:root {
    --bg-main: #ffffff;
    --text-main: #000000;
    --bg-sec: #2f3949;
    --bg-sec-lighter: #4f5971;
    --text-sec: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-main: #2f3949;
        --text-main: #ffffff;
        --bg-sec: #0a0f1a;
        --bg-sec-lighter: #4f5971;
        --text-sec: #000;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: none;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a, a:visited {
    color: var(--text-main);
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-main);
    color: var(--text-main);
    font-family: 'Noto Sans JP', 'Arial', sans-serif;
}

.icon {
    font-size: 1em;
}

main {
    margin: 0 20%;
}

/* noscript Warning Dialog */
noscript dialog { 
    width: auto;
    background: #ffaaaa;
    color: var(--text-main);
    border: 1px solid #ff0000;
    border-radius: 5px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    display: none; /* Do not show the dialog unless open property is present */
}

noscript dialog[open] { /* Only show dialog if the open property is present */
    display: flex;
}

noscript dialog p {
    margin: 10px
}

noscript dialog form {
    margin: 10px;
    display: block;
}

noscript dialog form button {
    background: #ffffff56;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 2em;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: 100%; /* Hide close text */
    width: 2em;
}

noscript dialog form button::before, noscript dialog form button::after {
    content: "";
    position: absolute;
    background-color: var(--text-main);
    top: 12.5%;
    left: calc(50% - 0.0625em);
    width: 0.125em;
    height: 75%;
    transition-duration: 0.5s;
}

noscript dialog form button::before {transform: rotate(45deg);}
noscript dialog form button::after {transform: rotate(-45deg);}

noscript dialog form button:hover::before {transform: rotate(-45deg);}
noscript dialog form button:hover::after {transform: rotate(45deg);}

@media only screen and (max-width: 1000px) {
    main {
        margin: 0 25px;
    }
}